<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat code coverage">
				<Configuration>
					<Format>cobertura</Format>
					<Include>
						[Beter.TestingTools.Emulator*]*
					</Include>
					<Exclude>
						[Beter.TestingTools.Emulator]Beter.TestingTools.Emulator.Endpoints.Connections*,
						[Beter.TestingTools.Emulator]Beter.TestingTools.Emulator.Extensions*,
						[Beter.TestingTools.Emulator]Beter.TestingTools.Emulator.Messaging.Options*,
						[Beter.TestingTools.Emulator]Beter.TestingTools.Emulator.Messaging.GeneratorMessagesConsumer,
						[Beter.TestingTools.Emulator]Beter.TestingTools.Emulator.Publishers.Extensions*,
						[Beter.TestingTools.Emulator]Beter.TestingTools.Emulator.SignalR.Hubs.V1*,
						[Beter.TestingTools.Emulator]Beter.TestingTools.Emulator.SignalR.Settings*,
						[Beter.TestingTools.Emulator]Beter.TestingTools.Emulator.SignalR.Settings*,
						[Beter.TestingTools.Emulator]Beter.TestingTools.Emulator.Startup,
						[Beter.TestingTools.Emulator]Program
					</Exclude>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>